<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCONNECT-PITT</title>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1> Welcome to Connect Pitt! </h1>
    <p> 
        Find your <span style="color: rebeccapurple;">personality</span> type to simplify finding a roommate, 
        study buddy, friend, or even a <span style="color: red; font-family: Verdana, Geneva, Tahoma, sans-serif">love</span> interest!
    </p>
    <form action="" method="post">
        <label> Q1 - You would rather have the superpower of teleportation than telekinesis </label><br>
    </form>
</body>
</html>
