<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCONNECT-PITT</title>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1> Welcome to Connect Pitt! </h1>
    <p> 
        Find your <span style="color: rebeccapurple;">personality</span> type to simplify finding a roommate, 
        study buddy, friend, or even a <span style="color: red; font-family: Verdana, Geneva, Tahoma, sans-serif">love</span> interest!
    </p>
    <form action="{{ url_for('results') }}" method="get">
        <label for="name">Name</label><input type="text" name="name" class="info">
        <label for="phoneNumber">Phone Number</label><input type="text" name="phoneNumber" class="info">
        <label for="linkedIn">LinkedIn</label><input type="text" name="linkedIn" class="info"><br>

        <label for="question_one"> Q1 - You would <span style="color: teal;">rather</span> have the superpower of teleportation than telekinesis </label><br>
        <label>0</label><input type="radio" name="question_one" value="0">
        <label>1</label><input type="radio" name="question_one" value="1">
        <label>2</label><input type="radio" name="question_one" value="2">
        <label>3</label><input type="radio" name="question_one" value="3">
        <label>4</label><input type="radio" name="question_one" value="4">
        <label>5</label><input type="radio" name="question_one" value="5"><br>

        <label for="question_two"> Q2 - You would <span style="color: orange;">rather</span> accept your perceived reality than know the truth </label><br>
        <label>0</label><input type="radio" name="question_two" value="0">
        <label>1</label><input type="radio" name="question_two" value="1">
        <label>2</label><input type="radio" name="question_two" value="2">
        <label>3</label><input type="radio" name="question_two" value="3">
        <label>4</label><input type="radio" name="question_two" value="4">
        <label>5</label><input type="radio" name="question_two" value="5"><br>

        <label for="question_three"> Q3 - You <span style="color: blue;">tend</span> to trust strangers </label><br>
        <label>0</label><input type="radio" name="question_three" value="0">
        <label>1</label><input type="radio" name="question_three" value="1">
        <label>2</label><input type="radio" name="question_three" value="2">
        <label>3</label><input type="radio" name="question_three" value="3">
        <label>4</label><input type="radio" name="question_three" value="4">
        <label>5</label><input type="radio" name="question_three" value="5"><br>

        <label for="question_four"> Q4 - You <span style="color: forestgreen;">tend</span> to choose facts over feelings </label><br>
        <label>0</label><input type="radio" name="question_four" value="0">
        <label>1</label><input type="radio" name="question_four" value="1">
        <label>2</label><input type="radio" name="question_four" value="2">
        <label>3</label><input type="radio" name="question_four" value="3">
        <label>4</label><input type="radio" name="question_four" value="4">
        <label>5</label><input type="radio" name="question_four" value="5"><br>

        <label for="question_five"> Q5 - You would <span style="color: rgb(157, 127, 255);">rather</span> live in a city than a suburban expanse </label><br>
        <label>0</label><input type="radio" name="question_five" value="0">
        <label>1</label><input type="radio" name="question_five" value="1">
        <label>2</label><input type="radio" name="question_five" value="2">
        <label>3</label><input type="radio" name="question_five" value="3">
        <label>4</label><input type="radio" name="question_five" value="4">
        <label>5</label><input type="radio" name="question_five" value="5"><br>

        <label for="question_six"> Q6 - You are <span style="color: coral;">interested</span> in owning a cat </label><br>
        <label>0</label><input type="radio" name="question_six" value="0">
        <label>1</label><input type="radio" name="question_six" value="1">
        <label>2</label><input type="radio" name="question_six" value="2">
        <label>3</label><input type="radio" name="question_six" value="3">
        <label>4</label><input type="radio" name="question_six" value="4">
        <label>5</label><input type="radio" name="question_six" value="5"><br>

        <label for="question_seven"> Q7 - You would <span style="color: olive;">rather</span> go out on a friday night than stay in </label><br>
        <label>0</label><input type="radio" name="question_seven" value="0">
        <label>1</label><input type="radio" name="question_seven" value="1">
        <label>2</label><input type="radio" name="question_seven" value="2">
        <label>3</label><input type="radio" name="question_seven" value="3">
        <label>4</label><input type="radio" name="question_seven" value="4">
        <label>5</label><input type="radio" name="question_seven" value="5"><br>

        <label for="question_eight"> Q8 - You would <span style="color: red;">rather</span> be inclined to meet a famous person from the past, than a current celebrity </label><br>
        <label>0</label><input type="radio" name="question_eight" value="0">
        <label>1</label><input type="radio" name="question_eight" value="1">
        <label>2</label><input type="radio" name="question_eight" value="2">
        <label>3</label><input type="radio" name="question_eight" value="3">
        <label>4</label><input type="radio" name="question_eight" value="4">
        <label>5</label><input type="radio" name="question_eight" value="5">

        <p><button type="submit">Submit</button></p>
    </form>
</body>
</html>
