<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCONNECT-PITT</title>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <h1> Welcome to Connect Pitt! </h1>
    <p> 
        Find your <span style="color: rebeccapurple;">personality</span> type to simplify finding a roommate, 
        study buddy, friend, or even a <span style="color: red; font-family: Verdana, Geneva, Tahoma, sans-serif">love</span> interest!
    </p>
    <form action="" method="post">
        <label> Q1 - You would rather have the superpower of teleportation than telekinesis </label><br>
        <label> Q2 - You would rather accept your perceived reality than know the truth </label><br>
        <label> Q3 - You tend to trust strangers </label><br>
        <label> Q4 - You tend to choose facts over feelings </label><br>
        <label> Q5 - You would rather live in a city than a suburban expanse </label><br>
        <label> Q6 - You are interested in owning a cat </label><br>
        <label> Q7 - You would rather go out on a friday night than stay in </label><br>
        <label> Q8 - You would rather be inclined to meet a famous person from the past, than a current celebrity </label><br>
    </form>
</body>
</html>
